* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Dosis';
}

html {
  height: 100%;
}

body {
  width: 100%;
  background-color: #bea8c8;
}

.main_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 67px;
  padding-bottom: 200px;
  width: 100%;
  height: 100%;
}

.bg {
  object-fit: cover;
  width: 100%;
  height: 100vh;
  opacity: 0.4;
  z-index: -1;
}

.main_abordagens {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to bottom, #2D1153, #8f3ca7);
}

.abordagens_txt {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 3%;
  position: absolute;
  color: #fff;
  z-index: 10;
}

.abordagens_title {
  font-size: 25px;
  font-weight: bolder;
}

.abordagens_desc {
  width: 70%;
  font-size: 18px;
  text-align: center;
}

.abordagens_container {
  width: 100%;
  height: 100%;
  padding-top: 8%;
  display: grid;
  align-items: center;
  justify-content: center;
  justify-items: center;
  grid-template-columns: 30% 30%;
  column-gap: 5%;
  row-gap: 2%;
}

.abordagens_container > img {
  width: 90%;
  border-radius: 10px;
  object-fit: cover;
  border: #fff solid 1px;
}

.abordagens_container > div {
  display: flex;
  align-items: self-start;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.abordagens_container > div > h1 {
  justify-self: left;
  text-decoration: underline;
}

@media (max-width: 425px) {
  .abordagens_container>img { 
    width: 100%;
  }
  .abordagens_container {
    grid-template-columns: 40% 40%;
  }

.abordagens_container>div>h1 {
    font-size: 15px;
  }

  .abordagens_container>div>p {
    font-size: 13px;
  }
}

@media (max-width: 768px) {
  .main_container {
      padding-bottom: 100px;
  }

  .abordagens_container > div > h1 {
    font-size: 18px;
  }
  .abordagens_container > div > p {
    font-size: 15px;
  }
  .abordagens_title {
    font-size: 30px;
  }
  .abordagens_desc {
    font-size: 20px;
  }
}