* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Dosis';
}

body {
  background-color: #bea8c8;
  width: 100vw;
  height: 100%;
  overflow-x: hidden;
}

.main_container {
  width: 100vw;
  height: 100%;
  padding-bottom: 200px;
  padding-top: 67px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.agenda_container {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to bottom, #2D1153, #8f3ca7);
}

.bg {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  opacity: 0.4;
  z-index: -1;
}

.agenda_txt {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 3%;
  position: absolute;
  color: #fff;
  z-index: 10;
}

.agenda_ico {
  width: 150px;
}

.agenda_title {
  font-size: 30px;
}

.agenda_desc {
  font-size: 20px;
}

.forms_agenda_container {
  padding-top: 8%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.forms_agenda {
  width: 50%;
  display: grid;
  grid-template-rows: repeat(11, min-content);
}

.forms_agenda > label {
  font-size: 20px;
  font-weight: bold;
}

.forms_agenda > input {
  height: 30px;
  font-size: 18px;
  text-indent: 5px;
  border: 0;
}

.forms_agenda > select {
  height: 30px;
  font-size: 18px;
  text-indent: 5px;
  border: 0;
}

.agendar_button {
  font-size: 20px;
  font-weight: 600;
  margin-top: 5%;
  cursor: pointer;
  justify-self: center;
  width: 80%;
  height: 40px;
  background-color: #8f3ca7;
  color: #fff;
  border: 0;
  border-radius: 10px;
}

@media (max-width:425px) {
  .agenda_ico {
      width: 100px;
    }
  
    .agenda_title {
      font-size: 20px;
    }
  
    .agenda_desc {
      font-size: 18px;
    }
  .forms_agenda>label {
    font-size: 20px;
    font-weight: bold;
  }
  .forms_agenda>input {
    height: 20px;
    font-size: 15px;
  }
  .forms_agenda>select {
    height: 20px;
    font-size: 15px;
  }
}