* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Dosis';
}

body {
  width: 100%;
  background-color: #bea8c8;
}

.main_container {
  padding-top: 67px;
  padding-bottom: 200px;
  width: 100%;
  height: 100%;
}

.bg {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  opacity: 0.4;
}

.depoimentos_text {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 3%;
  position: absolute;
  color: #fff;
  z-index: 10;
}

.depoimentos_ico {
  max-width: 100%;
  position: relative;
  left: 1%;
}

.main_depoimentos {
  max-height: 100%;
  background: linear-gradient(to bottom, #2D1153, #8f3ca7);
}

.depoimentos_title {
  font-size: 30px;
  font-weight: bolder;
}

.depoimentos_desc {
  width: 100%;
  font-size: 20px;
  text-align: center;
}

.depoimentos_container {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 8%;
  overflow-x: hidden;
}

.card {
  position: absolute;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 400px;
  height: 300px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.75);
  padding: 30px;
  row-gap: 5%;
  background-color: #cb99da;
  z-index: -1;
}

.person_img {
  border: solid #fff 3px;
  background-color: #fff;
  border-radius: 100%;
  width: 80px;
  height: 80px;
}

.slider {
  width: 400px;
  height: 350px;
  position: relative;
}

.depoimentos_container > button {
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 80px;
  cursor: pointer;
  text-align: center;
  z-index: 10;
}

.depoimentos_container>button > img {
  width: 50px;
  height: 50px;
}

.button_hover {
  animation: grow 0.5s;
  animation-fill-mode: forwards;
}

.button_leave {
  animation: shrink 0.5s;
}

.button_hover_next {
  animation: grow_next 0.5s;
  animation-fill-mode: forwards;
}

.button_leave_next {
  animation: shrink_next 0.5s;
}

.transition {
  animation: 1.5s change_card_prev;
}

.transition_2 {
  animation: 1.5s change_card_next;
}

#ativo {
  display: flex;
}

.prev {
  transform: rotateY(180deg);
}

@keyframes grow {
  from {
    transform: scale(1) rotateY(180deg);
  }
  
  to {
    transform: scale(1.2) rotateY(180deg);
  }
}

@keyframes shrink {
  from {
    transform: scale(1.2) rotateY(180deg);
  }
  
  to {
    transform: scale(1) rotateY(180deg);
  }
}

@keyframes grow_next {
  from {
    transform: scale(1);
  }
  
  to {
    transform: scale(1.2);
  }
}

@keyframes shrink_next {
  from {
    transform: scale(1.2);
  }
  
  to {
    transform: scale(1);
  }
}

@keyframes change_card_prev{
  from {
    opacity: 0;
    right: 100%;
  }
  to {
    opacity: 1;
    right: 11.5%;
  }
}

@keyframes change_card_next{
  from {
    opacity: 0;
    left: 100%;
  }
  to {
    position: absolute;
    opacity: 1;
    left: 0%;
  }
}

@media (max-width: 768px) {
  .main_container {
    padding-bottom: 100px;
  }

  .depoimentos_title {
    font-size: 20px;
  }

  .depoimentos_desc {
    width: 100%;
    font-size: 20px;
    text-align: center;
  }
}

@media (max-width:500px) {
  .card {
    width: 300px;
    height: 250px;
  }
  .card > h1 {
    font-size: 20px;
  }
  .card > p {
    font-size: 15px;
  }
  .depoimentos_container {
    justify-content: space-between;
  }
} 